
// FONTS
@fontheadline: "Coustard", "Georgia", "Times New Roman", "Times", serif;
@fontcopy: "Ubuntu", "Calibri", "Trebuchet", "Times", serif;

@font_base_unit: 16px;

@fontsize_s: (@font_base_unit * 0.66);
@fontsize_m: (@font_base_unit * 0.75);
@fontsize_l: @font_base_unit;
@fontsize_xl: (@font_base_unit * 1.5);
@fontsize_xxl: (@font_base_unit * 2);

// COLORS
@colorbrand: #C60000;
@colorlight: #E7E5E6;
@colormedium: #646464;
@colordark: #232323;
@colorblack: #0E0C0C;
@colorblue: #0000C6;
@colorgreen: #00C600;
@coloryellow: #C6C600;
@colorred: #C60000;

// PAGE STRUCTURE
@page_max_width: 1024px;

// SLIDE-IN MENU
@menu_width: 256px; // absolute size in relation to the page. Also used in resizing teh map view.
@container_width: 100%; // width of container in normal state

// HEADER
@header_height: 64px;

// MAP POPUPS
@popup_height: 256px;
