// Mobile-first base styling
#container, #menu {
	display: inline;
}

#menu {
	display: block;
	position: absolute;
	width: @menu_width;
	height: 100%;
	padding: 0;
	margin: 0;
	background: @colordark url(../img/pattern-dark.png) repeat center center;
	font-family: @fontcopy;
	font-size: 0.85em;

	a {
		z-index: 3;
		display: block;
		padding: 1em 1.5em;
		border-bottom: 1px solid lighten(@colordark, 20%);
		margin-bottom: 1em;
		color: @colorlight;
		text-decoration: none;

		&:hover {
			color: #333;
			background-color: #eee;
		}
	}

}

#container {
	width: @container_width;
	background-color: #fff;
	z-index: 5;
	position: fixed;
	left: 0px;
	height: 100%;
	-webkit-box-shadow:  -8px 0px 32px 0px rgba(0, 0, 0, 0.9);
		moz-box-shadow:  -8px 0px 32px 0px rgba(0, 0, 0, 0.9);
		  o-box-shadow:  -8px 0px 32px 0px rgba(0, 0, 0, 0.9);
			box-shadow:  -8px 0px 32px 0px rgba(0, 0, 0, 0.9);
	-webkit-transition: width 500ms ease, left 500ms ease;
	transition: width 500ms ease, left 500ms ease;

	overflow: auto;

	&.menu_shown {
		left: @menu_width;
		width: (@container_width - @menu_width);
	}

	#content {
		margin: 0 auto;
		width: 100%;
		max-width: @page_max_width;
		padding: 4em;
		font-family: @fontcopy;
		color: @colormedium;
		font-size: @fontsize_m;
		line-height: 133%;
	}

}

#header {
	z-index: 1;
	overflow: hidden;
	height: 64px;
	color: @colordark;
	background: @colorlight url(../img/pattern-light.png) repeat center center;
	border-bottom: 2px solid lighten(@colorlight, 10%);

	.logo {
		line-height: 128px;
		position: absolute;
		z-index: 1;
		left: 50%;
		display: block;
		overflow: hidden;
		width: 190px;
		height: 95px;
		margin: 0 0 0 -95px;
		padding: 0;
		text-indent: 190px;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: transparent;

		a {
			display: block;
			width: 256px;
			height: 128px;
		}
	}

	#menutoggle {
		float: left;
	}

	.admin_link {
		float: right;
	}

	nav, .top-nav {
		z-index: 1;
		float: left;
		margin: 0;
		padding: 0;
	}

	.top-nav {

		li {
			float: left;

			a {
				.button();
			}
			
		}

	}

}