/* ==========================================================================
BUTTON
========================================================================== */
.button_base(@bgcolor: @colorbrand, @textcolor: @colorlight) {
	background: @bgcolor url(../img/pattern-light.png) repeat center center;
	color: @textcolor;
	cursor: pointer;
	display: inline-block;
	font-family: @fontheadline;
	font-weight: bold;
	line-height: 2.5em;
	margin: .5em .25em;
	padding: 0 1em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
	text-shadow: 2px 2px 1px @colordark;

	&:hover {
		color: lighten(@textcolor, 50%);
		top: 1px;
		left: 1px;
	}

	&:active {
		position: relative;
		top: 1px;
	}
}

.button {
	.button_base();
}

.button_white {
	.button_base(@colorlight, @colordark);
}