
// PALM STATE

#container, #menu {
	display: inline;
}

#menu {
	display: block;
	position: absolute;
	width: @menu_width;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: @colordark;
	background-repeat: repeat;
	background-position: left top;
	font-family: @fontcopy;
	font-size: 0.85em;

	a {
		z-index: 3;
		display: block;
		padding: 1em 1.5em;
		border-bottom: 1px solid lighten(@colordark, 10%);
		margin-bottom: 1em;
		color: @colorlight;
		text-decoration: none;

		&:hover {
			color: #333;
			background-color: #eee;
		}
	}

}

#container {
    width: @container_width;
    background-color: #fff;
    z-index: 5;
    position: fixed;
    left: 0px;
    height: 100%;
    -webkit-box-shadow:  -8px 0px 32px 0px rgba(0, 0, 0, 0.9);
        moz-box-shadow:  -8px 0px 32px 0px rgba(0, 0, 0, 0.9);
          o-box-shadow:  -8px 0px 32px 0px rgba(0, 0, 0, 0.9);
            box-shadow:  -8px 0px 32px 0px rgba(0, 0, 0, 0.9);
    -webkit-transition: width 500ms ease, left 500ms ease;
    transition: width 500ms ease, left 500ms ease;

    &.menu_shown {
    	left: @menu_width;
    	width: (@container_width - @menu_width);
    }
}

#header {
	z-index: 1;
	overflow: hidden;
	height: 64px;
	color: @colordark;
	background: @colorlight url(../img/pattern-white.png) repeat center center;


	.logo {
		line-height: 128px;
		position: absolute;
		z-index: 1;
		left: 50%;
		display: block;
		overflow: hidden;
		width: 190px;
		height: 95px;
		margin: 0 0 0 -95px;
		padding: 0;
		text-indent: 190px;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: transparent;

		a {
			display: block;
			width: 256px;
			height: 128px;
		}
	}

	#menutoggle {
		float: left;
	}

	.admin_link {
		float: right;
	}

	nav, .top-nav {
		z-index: 1;
		float: left;
		margin: 0;
		padding: 0;
	}

	.top-nav {

		li {
			float: left;

			a {
				.button();
			}
			
		}

	}

}

#map-container {
	position: absolute;
	z-index: 0;
	top: 64px;
	right: 0;
	bottom: 0;
	left: 0;
}