
// FONTS
@fontheadline: "Georgia", "Times New Roman", "Times", serif;
@fontcopy: "Georgia", "Times New Roman", "Times", serif;

// COLORS
@colorbrand: #fd0010;
@colorlight: #DDDDDD;
@colordark: #666666;
@colorlighthalf: darken(@colorlight, 50%);
@colordarkhalf: lighten(@colordark, 50%);

// SPACINGS
