
// FONTS
@fontheadline: "American Typewriter", "Courier", monospace, "Georgia", "Times New Roman", "Times", serif;
@fontcopy: "Ubuntu", "Calibri", "Trebuchet", "Times", serif;

// COLORS
@colorbrand: #B60000;
@colorlight: #E7E5E6;
@colordark: #232323;
@colorlighthalf: darken(@colorlight, 50%);
@colordarkhalf: lighten(@colordark, 50%);

// SPACINGS


// SLIDE-IN MENU
@menu_width: 25%; // absolute size in relation to the page. Also used in resizing teh map view.
@container_width: 100%; // width of container in normal state